<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.mall.dao.MallOrderDetailMapper">
	<resultMap id="BaseResultMap" type="com.zx.mall.module.MallOrderDetail">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="ORDER_ID" property="orderId" jdbcType="BIGINT" />
		<result column="ORDER_NO" property="orderNo" jdbcType="VARCHAR" />
		<result column="SKU_ID" property="skuId" jdbcType="BIGINT" />
		<result column="AMOUNT" property="amount" jdbcType="INTEGER" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="PRICE" property="price" jdbcType="REAL" />
		<result column="TOTAL" property="total" jdbcType="REAL" />
	</resultMap>
	<sql id="Base_Column_List">
		ID, ORDER_ID, SKU_ID, AMOUNT, CREATE_DATE, ORDER_NO, PRICE, TOTAL 
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from t_mall_orderdetail
		where ID = #{id,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from t_mall_orderdetail
		where ID = #{id,jdbcType=BIGINT}
	</delete>
	<insert id="insert" parameterType="com.zx.mall.module.MallOrderDetail">
		insert into t_mall_orderdetail (ID, ORDER_ID, SKU_ID,
		AMOUNT, CREATE_DATE, ORDER_NO, PRICE, TOTAL)
		values (#{id,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT},
		#{skuId,jdbcType=BIGINT},
		#{amount,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, #{orderNo,jdbcType=VARCHAR}, 
		#{price,jdbcType=REAL}, #{total,jdbcType=REAL})
	</insert>
	<insert id="insertSelective" parameterType="com.zx.mall.module.MallOrderDetail" useGeneratedKeys="true" keyProperty="id">
		insert into t_mall_orderdetail
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="orderId != null">
				ORDER_ID,
			</if>
			<if test="skuId != null">
				SKU_ID,
			</if>
			<if test="amount != null">
				AMOUNT,
			</if>
			<if test="createDate != null">
				CREATE_DATE,
			</if>
			<if test="orderNo != null">
				ORDER_NO,
			</if>
			<if test="price != null">
				PRICE,
			</if>
			<if test="total != null">
				TOTAL,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=BIGINT},
			</if>
			<if test="orderId != null">
				#{orderId,jdbcType=BIGINT},
			</if>
			<if test="skuId != null">
				#{skuId,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			
			<if test="orderNo != null">
				#{orderNo,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=REAL},
			</if>
			<if test="total != null">
				#{total,jdbcType=REAL},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zx.mall.module.MallOrderDetail">
		update t_mall_orderdetail
		<set>
			<if test="orderId != null">
				ORDER_ID = #{orderId,jdbcType=BIGINT},
			</if>
			<if test="skuId != null">
				SKU_ID = #{skuId,jdbcType=BIGINT},
			</if>
			<if test="amount != null">
				AMOUNT = #{amount,jdbcType=INTEGER},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where ID = #{id,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zx.mall.module.MallOrderDetail">
		update t_mall_orderdetail
		set ORDER_ID = #{orderId,jdbcType=BIGINT},
		SKU_ID = #{skuId,jdbcType=BIGINT},
		AMOUNT = #{amount,jdbcType=INTEGER},
		CREATE_DATE = #{createDate,jdbcType=TIMESTAMP}
		where ID = #{id,jdbcType=BIGINT}
	</update>
</mapper>