<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zx.mall.dao.VenderCategorySubjectTypeMapper">
	<resultMap id="BaseResultMap" type="com.zx.mall.module.VenderCategorySubjectType">
		<id column="lid" property="lid" jdbcType="INTEGER" />
		<result column="slid" property="slid" jdbcType="INTEGER" />
		<result column="ptype" property="ptype" jdbcType="INTEGER" />
		<result column="bcode" property="btype" jdbcType="VARCHAR" />
		<result column="clid" property="clid" jdbcType="INTEGER" />
	</resultMap>
	<sql id="Base_Column_List">
		lid, slid, ptype, bcode, clid
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from t_vender_category_subject_type
		where lid = #{lid,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_vender_category_subject_type
		where lid = #{lid,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.zx.mall.module.VenderCategorySubjectType">
		insert into t_vender_category_subject_type (lid, slid,
		ptype, bcode, clid)
		values (#{lid,jdbcType=INTEGER},
		#{slid,jdbcType=INTEGER},
		#{ptype,jdbcType=INTEGER}, #{bcode,jdbcType=VARCHAR}, #{clid,jdbcType=INTEGER})
	</insert>
	<insert id="insertSelective" parameterType="com.zx.mall.module.VenderCategorySubjectType">
		insert into t_vender_category_subject_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="lid != null">
				lid,
			</if>
			<if test="slid != null">
				slid,
			</if>
			<if test="ptype != null">
				ptype,
			</if>
			<if test="bcode != null">
				bcode,
			</if>
			<if test="clid != null">
				clid,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="lid != null">
				#{lid,jdbcType=INTEGER},
			</if>
			<if test="slid != null">
				#{slid,jdbcType=INTEGER},
			</if>
			<if test="ptype != null">
				#{ptype,jdbcType=INTEGER},
			</if>
			<if test="bcode != null">
				#{bcode,jdbcType=VARCHAR},
			</if>
			<if test="clid != null">
				#{clid,jdbcType=INTEGER},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.zx.mall.module.VenderCategorySubjectType">
		update t_vender_category_subject_type
		<set>
			<if test="slid != null">
				slid = #{slid,jdbcType=INTEGER},
			</if>
			<if test="ptype != null">
				ptype = #{ptype,jdbcType=INTEGER},
			</if>
			<if test="bcode != null">
				bcode = #{bcode,jdbcType=VARCHAR},
			</if>
			<if test="clid != null">
				clid = #{clid,jdbcType=INTEGER},
			</if>
		</set>
		where lid = #{lid,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.zx.mall.module.VenderCategorySubjectType">
		update t_vender_category_subject_type
		set 
		slid = #{slid,jdbcType=INTEGER},
		ptype = #{ptype,jdbcType=INTEGER},
		bcode = #{bcode,jdbcType=VARCHAR},
		clid = #{clid,jdbcType=INTEGER} 
		where lid = #{lid,jdbcType=INTEGER}
	</update>
	<delete id="deleteByClidAndSlid" parameterType="java.lang.Integer">
		delete from t_vender_category_subject_type
		where clid = #{clid,jdbcType=INTEGER} and slid = #{slid,jdbcType=INTEGER}
	</delete>
</mapper>